services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: ai4infra-ldap
    hostname: ldap
    environment:
      LDAP_ORGANISATION: "${LDAP_ORGANISATION}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_VERIFY_CLIENT: "try"
    volumes:
      - ./data/database:/var/lib/ldap
      - ./data/config:/etc/ldap/slapd.d
      - ./certs:/container/service/slapd/assets/certs
    ports:
      - "${LDAP_PORT:-389}:389"
      - "${LDAP_SSL_PORT:-636}:636"
    networks:
      - ai4infra
    command: --copy-service
    restart: unless-stopped

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: ai4infra-ldap-admin
    hostname: ldap-admin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "${LDAP_ADMIN_PORT:-8081}:80"
    networks:
      - ai4infra
    depends_on:
      - ldap
    restart: unless-stopped

networks:
  ai4infra:
    external: true
    name: ai4infra
