services:
  redis:
    image: redis:7-alpine
    container_name: ai4infra-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./data:/data
    restart: unless-stopped
    networks:
      - ai4infra

networks:
  ai4infra:
    external: true
    name: ai4infra
