service:
  enable: true

path:
  directories:
    data: "${BASE_DIR}/keycloak/data"
    certs: "${BASE_DIR}/keycloak/certs"

env_vars:
  KEYCLOAK_ADMIN: "admin"
  KEYCLOAK_ADMIN_PASSWORD: "${KEYCLOAK_ADMIN_PASSWORD}" # injected from .env
  KC_DB: "postgres"
  KC_DB_URL: "jdbc:postgresql://ai4infra-postgres:5432/keycloak"
  KC_DB_USERNAME: "keycloak"
  KC_DB_PASSWORD: "${KEYCLOAK_DB_PASSWORD}" # injected from .env
  KC_HOSTNAME: "auth.ai4infra.internal"
  KEYCLOAK_PORT: "8484" # Host port mapping (avoid 8080 collision with Vaultwarden)
