service:
  enable: true

env_vars:
  # Entrypoint Helpers
  ORTHANC_ADMIN_PASSWORD: "${ORTHANC_ADMIN_PASSWORD}"
  ORTHANC_DB_PASSWORD: "${ORTHANC_DB_PASSWORD}"
  ORTHANC_AET: "MOCK_PACS"
  ORTHANC_DB_NAME: "orthanc_mock"

  # General
  ORTHANC__NAME: "Hospital Mock PACS"
  # JSON Format for Users: { "username": "password" }
  ORTHANC__REGISTERED_USERS: |
    { "admin": "${ORTHANC_ADMIN_PASSWORD}" }
  
  # Database (Postgres)
  ORTHANC__POSTGRESQL__ENABLE_INDEX: "true"
  ORTHANC__POSTGRESQL__ENABLE_STORAGE: "false" # Use Disk for large files
  ORTHANC__POSTGRESQL__HOST: "ai4infra-postgres"
  ORTHANC__POSTGRESQL__PORT: "5432"
  ORTHANC__POSTGRESQL__DATABASE: "orthanc_mock"
  ORTHANC__POSTGRESQL__USERNAME: "orthanc"
  ORTHANC__POSTGRESQL__PASSWORD: "${ORTHANC_DB_PASSWORD}"

  # Network
  ORTHANC__DICOM_PORT: "4243"
  ORTHANC__HTTP_PORT: "8043"
  
  # Encoding (Korean Support)
  ORTHANC__DEFAULT_ENCODING: "Utf8"

  # Plugins
  ORTHANC__OHIF__DATA_SOURCE: "dicom-web"
  
compose_vars:
  ORTHANC_HTTP_PORT: "8043"
  ORTHANC_DICOM_PORT: "4243"
  ORTHANC_MEM_LIMIT: "1g"
