####################################
# 파일명: config/postgres.yml
# 목적: PostgreSQL 데이터베이스 설정
# 기능: 
#  - .env에는 민감정보를 저장하고 yml 파일에는 사용자설정을 저장
#  - 두 정보를 합쳐서 template에 docker-compose.yml에 필요한 .env 파일을 생성토록 함
# 주의사항
# 변경이력
#  - 2025-11-04: 중복되는 root key를 제거함 (BenKorea)   
#  - 2025-10-07: 최초 구현 (BenKorea)
#####################################
POSTGRES_DB: ai4infra
PG_DATA_DIR: ${BASE_DIR}/postgres/data                   # 데이터 디렉토리
PG_PORT: 5432                                            # DB 포트
